.directions-hero{
	text-align: center;
}
.default-block{
	&.directions-hero{
		padding-bottom: 0em;
	}
}
.the-marker{
	max-width: 80px;
	margin: auto;
	img{
		width: 100%;
	}
}
.directions-title{
	font-size: 2em;
	font-family: $med;
	letter-spacing: 2px;
	padding-top: 0.2em;
}
.directions-tagline{
	color: $blue;
	font-family: $med;
	text-transform: uppercase;
	font-weight: bolder;
	a{
		color: $blue;
		text-decoration: underline;
	}
}
.remove-me{
	display: none;
}
.the-pin{
	display: inline;
	width: 30px;
}
.the-map-el{
	position: relative;
}
.the-map{
	padding-top: 3em;
	max-width: 1000px;
	margin: auto;
	img{
		width: 100%;
	}
}
.map-card{
	width: 95%;
	max-width: 650px;
	margin: auto;
	background: white;
	position: relative;
	transform: translateY(-10%);
	box-shadow: 0px 0px 10px rgba(black, 0.3);
	.g-btn{
		margin: auto;
		display: inline-block;
		float: none;
	}
}

.map-card-inner{
	padding: 4em;
}


// Parking Section
.parking-section{
	position: relative;

	&--background {
		background-size: cover;
		background-position: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: red;
	}

}

.parking-card{
	position: relative;
	z-index: 6;
	background: rgba(white, 0.93);
	margin: auto;
	max-width: 600px;
	width: 100%;
	text-align: center;

	&--liner{
		padding: 3em 2em;
	}

	&--car{
		display: inline;
		width: 40px;
		padding-right: 0.3em;
		position: relative;


	}

	&--header{
		position: relative;
		z-index: 4;
		color: $black;
		font-size: 3em;
		margin: 0;
		font-family: $headerFont;
		text-align: center;
		padding-bottom: 0.4em;



	}

	&--list{
		list-style-type: none;
		margin: 0;
		padding: 0;

		li{
			margin-bottom: 1em;

			&:before{
				content: "\f00c"; /* FontAwesome Unicode */
				font-family: FontAwesome;
				padding-right: 1em;
				color: $green;
			}

		}

	}

}



.borders{
	padding-top: 5em;
	position: relative;
	h3{
		color: $green;
		letter-spacing: 2px;
		font-family: $headerFont;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 1.6em;

	}
}
.the-border-cards{
	position: relative;
	margin-bottom: 1.3em;

	&:after{
			content: 'flickity';
			display: none;
		}


}

.border-cards{
	width: 100%;
	margin: 1em 0em ;
	background: white;
	position: relative;
	z-index:9;
	text-align: center;
	box-shadow: 0px 0px 10px rgba(black, 0.3);

	&--icon{
		width: 60px;
		margin: auto;
		padding-bottom: 1em;
		img{
			width: 100%;
		}
	}

	&--liner{
		padding: 3em 2em;
	}

	&--address{
		width: 90%;
		font-size: 1.3em;
		margin: 1em auto;
		font-family: $med;
	}

	strong{
		font-family: $heavy;
	}

	a{
		color: $blue;
		text-transform: uppercase;
		font-weight: bolder;
		text-decoration: underline;
	}

}
.has-options{
	h1{
		margin-bottom: 1em;
	}
	line-height: 35px;
}
.the-options{
	padding: 2em 0em;
}
.airport-bg{
	display: none;
}
.nearby-ports-title{
	text-align: center;
	position: relative;
	font-family: $headerFont;
	font-weight: 500;
	letter-spacing: 3px;
	z-index: 5;
}
@media(min-width: 915px){
	.remove-me{
		display: block;
	}

}
@media(min-width: $bp-sm){
	.directions-title{
		font-size: 3em;
	}
	.directions-tagline{
		font-size: 1.15em;
		a{
			color: $blue;
			text-decoration: underline;
		}
	}
	.map-card{
		transform: translateY(-20%);
	}

	.map-card-inner{
		padding: 4em;
	}
	.map-card-header{
		font-size: 2em;
	}
	.map-card-content{
		font-size: 1.1em;
		padding: 1em 0;
	}
}


@media(min-width: $bp-md){
	.directions-title{
		font-size: 4em;
	}
	.directions-tagline{
		font-size: 1.25em;
	}
	.map-card{
		transform: translateY(-30%);
		box-shadow: 0px 0px 10px rgba(black, 0.3);
	}
	.map-card-header{
		font-size: 2.7em;
	}
	.map-card-content{
		font-size: 1.4em;
		padding: 1em 0;
	}
	.parking-card{

		&--liner{
			padding: 3em 4em;
		}

		&--car{
			width: 55px;
			padding-right: 0.4em;
		}

		&--header{
			font-size: 4em;
			padding-bottom: 0.4em;
		}

		&--list{

			li{
				margin-bottom: 2.5em;
			}

		}

	}

	.the-border-cards{
		position: relative;
		display: flex;
		padding: 3em 0em;
		&:after{
			content: '';
			display: none;
		}
	}
	.border-cards{
		width: 33%;
		margin-left: 3em;
		&:first-of-type{
			margin-left: 0em;
		}
	}

	.borders{

		h3{
			font-size: 2em;

		}
	}
	.has-options{
		h1{
			font-size: 1.7em;
		}
		padding-bottom: 5em;
	}
	.for-airports{
		justify-content: center;
		position: relative;
		z-index: 6;
	}
	.the-airports{
		.inner{
			padding-bottom: 4em;
		}
	}
	.airport-bg{
		display: block;
	}
	.nearby-ports-title{
		padding-top: 2em;
		color: white;
		font-size: 3em;
	}

}

.upcoming-eventers{
		.the-event-card{
			margin-bottom: 3em;
		}
	}


@media(min-width: $bp-lg){
	.directions-title{
		font-size: 5em;
	}
	.directions-tagline{
		font-size: 1.3em;
	}
	.remove-me{
		display: none;
	}

	.borders{

		h3{
			font-size: 3em;

		}
	}
	.has-options{
		h1{
			font-size: 2.2em;
		}
	}
}
