.rosa-video-ply-home{
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	height: 100%;
	background: rgba(black, 0.94);
	display: none;
	z-index: 99999999;
	.fa-close{
		color: white;
		position: absolute;
		top: 50px;
		right: 0px;
		font-size: 2.5em;
		transition: all 260ms ease;
		&:hover{
			transform: rotate(90deg);
		}
	}
}
.video-container{
	position: absolute;
	transform: translateY(200px);
	opacity: 0.2;
	transition: all 600ms ease;	
	height: 100%;
	width: 100%;
	&.is-active{
		transform: translateY(0px);
		opacity: 1;
	}
}
.the-video{
	position: relative;
	height: 600px;
}
.the-iframe{
	width: 100%;
	height: 100%;
	top: 50%;
	position: relative;
	transform: translateY(-30%);
}


